{%  extends "base.html.twig" %}

{% block body %}
    <div class="contentWider calculate1">
        <h3>Twoje wymiary:</h3>
        <div>
            <p><b>Wzrost:</b>{{ height }} cm</p>
            <p><b>Waga:</b>{{ weight }} kg</p>
            <p><b>Talia:</b>{{ waist }} cm</p>
            <p><b>Biodra:</b>{{ hips }} cm</p>
            <p><b>Brzuch:</b>{{ belly }} cm</p>
        </div>
        <p><b>Twoja Całkowita Przemiana Materii (CPM)</b>  {{ dailyEnergy }} kcal/dzień</p>
        <p>A teraz możesz wybrać właściwy <a href="{{ path('recipes')}}">przepis </a>dla siebie!</p>

        <p><b>Twoje BMI</b> wynosi: {{ bmi }}</p>

        <p><b>Należna masa ciała</b> na podstawie wzoru Lorentza {{ rightWeight }} kg</p>

        {% if  bmi > 25 %}
            {#<p>Współczynnik WHR stanowi wskaźnik dystrybucji tkanki tłuszczowej w ciele człowieka i jest wyznacznikiem określającym rodzaj sylwetki ciała (sylwetka w kształcie gruszki bądź jabłka) oraz typ otyłości (otyłość brzuszna bądź pośladkowo-udowa). Nie stosuje się go u kobiet w ciąży!.</p>#}

            <span>Twój <b>współczynnik WHR </b>wynosi: {{ whr }}</span>
            {% if sex == "male" %}
                {% if whr >= "1,00" %}
                    <span><b>otyłość androidalna</b> - brzuszna (typu 'jabłko') </span>
                {% else %}
                    <span><b>otyłość gynoidalną</b> - pośladkowo-udowa (typu 'gruszka')</span>
                {%  endif %}
            {%  else %}
                {% if whr >= "0,80" %}
                    <span><b>otyłość androidalna</b> - brzuszna (typu 'jabłko') </span>
                {% else %}
                    <span><b>otyłość gynoidalną</b> - pośladkowo-udowa (typu 'gruszka')</span>
                {%  endif %}
            {% endif %}
        {%  endif %}

        <br><br><div><b>Procentowa zawartość tkanki tłuszczowej w Twoim organizmie:</b><span>{{ fat }} % *</span></div>
        <br><p>Jeśli chcesz dowiedzieć się więcej o interpretacji wyniku: polecamy artykuł:<br>"<a href="https://www.trener.pl/trening/atrakcyjnosc-fizyczna-a-poziom-tkanki-tluszczowej/" target="_blank"><b>Atrakcyjność fizyczna, a poziom tkanki tłuszczowej"</b></a></p>
    </div>


{% endblock %}