{%  extends "base.html.twig" %}

{% block body %}

    <div>
        <div>
            {% if err %}
                <h2 style="color: red;">{{ err }}</h2>
            {% endif %}
            <div class="logOut"><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></div>
            <h1 class="change"> {{ username }}, wyszukaj nowych ludzi w Twojej okolicy!</h1><br><br><br>

            <form method="POST" class="mark">
                <h3>Wpisz swoje miasto lub pobierz lokalizację</h3><br>
                <div class="row">
                    <label>Twoje miasto</label><br>
                    <input type="text" id="cityToBlock" name="city" placeholder="nazwa miasto">
                </div><br>

                <div class="row">
                    <label>Twoje województwo</label><br>
                    <select name="voivodeship" id="voivodeshipToBlock">
                        <option value="">wybierz</option>
                        <option value="opolskie">opolskie</option>
                        <option value="mazowieckie">mazowieckie</option>
                        <option value="lubelskie">lubelskie</option>
                        <option value="lubuskie">lubuskie</option>
                        <option value="podkarpackie">podkarpackie</option>
                        <option value="podlaskie">podlaskie</option>
                        <option value="pomorskie">pomorskie</option>
                        <option value="wielkopolskie">wielkopolskie</option>
                        <option value="zachodniopomorskie">zachodniopomorskie</option>
                        <option value="dolnośląskie">dolnośląskie</option>
                        <option value="kujawsko-pomorskie">kujawsko-pomorskie</option>
                        <option value="łódzkie">łódzkie</option>
                        <option value="małopolskie">małopolskie</option>
                        <option value="śląskie">śląskie</option>
                        <option value="świętokrzyskie">świętokrzyskie</option>
                        <option value="warmińsko-mazurskie">warmińsko-mazurskie</option>
                    </select>
                </div><br><br>
                <div id="checkLocation">
                    <p>Pobierz swoją lokalizację:
                        <span id="cityVal"></span><input type="hidden" id="city" name="city" value="" disabled/>
                        <span id="voivodeshipVal"></span><input type="hidden" id="voivodeship" name="voivodeship" value="" disabled/>
                    </p><br>
                    <button id="check" onclick="getLocation(); return false;">KLIK</button>
                </div>
                <div class="row">
                    <label>Chcesz dołączyć do lokalnej grupy treningowej?</label><br>
                    <select name="meet">
                        <option value="1">TAK</option>
                        <option value="0">NIE</option>
                    </select>
                </div><br><br>
                <input type="hidden" name="clientId" value="{{ userId }}"/>
                <button type="submit" class="btn btn-primary">Wyślij</button>
            </form>
        </div>
        <script src="{{ asset('js/app.js') }}"></script>
    </div>



{% endblock %}