{%  extends "base.html.twig" %}

{% block body %}

    <div class="logOut"><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></div>
    <span><a href="{{ path('account') }}">Panel użytkownika</a></span>

    <div>Twoje wymiary:</div>
    <div>
        <p>Wzrost:{{ height }} cm</p>
        <p>Waga:{{ weight }} kg</p>
        <p>Talia:{{ waist }} cm</p>
        <p>Biodra:{{ hips }} cm</p>
        <p>Brzuch:{{ belly }} cm</p>
    </div>

    <p>Twoje BMI wynosi: {{ bmi }}</p>

    <p>Należna masa ciała na podstawie wzoru Lorentza {{ rightWeight }} kg</p>

    {% if  bmi > 25 %}
        <p>Współczynnik WHR stanowi wskaźnik dystrybucji tkanki tłuszczowej w ciele człowieka i jest wyznacznikiem określającym rodzaj sylwetki ciała (sylwetka w kształcie gruszki bądź jabłka) oraz typ otyłości (otyłość brzuszna bądź pośladkowo-udowa). Nie stosuje się go u kobiet w ciąży!.</p>
        <span>Twój współczynnik WHR wynosi: {{ whr }}</span>
        {% if sex == "male" %}
            {% if whr >= "1,00" %}
            <span>otyłość androidalna - brzuszna (typu 'jabłko') </span>
                {% else %}
            <span>otyłość gynoidalną - pośladkowo-udowa (typu 'gruszka')</span>
                {%  endif %}
            {%  else %}
                {% if whr >= "0,80" %}
                    <span>otyłość androidalna - brzuszna (typu 'jabłko') </span>
                {% else %}
                    <span>otyłość gynoidalną - pośladkowo-udowa (typu 'gruszka')</span>
            {%  endif %}
        {% endif %}
    {%  endif %}

    <br><br><div>Procentowa zawartość tkanki tłuszczowej w Twoim organizmie: <span>{{ fat }} % *</span></div>
    <p>Błąd obliczeń może może wynosić do kilku punktów procentowych (z reguły +/- ~3 %).
        UWAGA: Wskaźnik ten jest niewiarygodny dla: osób o dużej muskulaturze, sportowców,
        kobiet przy nadziei (w ciąży), dorastającej młodzieży, osób starszych.</p>

    <p>Jeśli chcesz dowiedzieć się więcej o interpretacji wyniku, polecamy artykuł: "<a href="https://www.trener.pl/trening/atrakcyjnosc-fizyczna-a-poziom-tkanki-tluszczowej/" target="_blank">Atrakcyjność fizyczna, a poziom tkanki tłuszczowej"</a></p>

    <h4>Twoja Całkowita Przemiana Materii (CPM)  {{ dailyEnergy }} kcal/dzień</h4>

{% endblock %}