{% extends 'base.html.twig' %}

{% block body %}
    <div class="mainBackground">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url('about') }}">O autorce</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">KONTO UŻYTKOWNIKA <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {#<li><a href="{{ url('fos_user_profile_show') }}">Moje konto</a></li>#}
                                <li><a href="{{ url('account') }}">Moje konto</a></li>
                                <li><a href="{{ url('fos_user_registration_register') }}">Zarejestruj się</a></li>
                                <li><a href="{{ url('fos_user_security_login') }}">Zaloguj się</a></li>
                                <li><a href="{{ url('fos_user_security_logout') }}">Wyloguj się</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <h1>Czas na zmiany? Czas na zdrowie!</h1>
        <h3>Witamy na portalu zrzeszającym ludzi dbających o swoje ciało i umysł!</h3>
    </div>
{% endblock %}
