{%  extends "base.html.twig" %}

{% block body %}
    <div>
        <h2>Witamy w krainie rozkoszy Twojego podniebienia!</h2>
        {% if username %}
            <h3>Witaj {{ username }}! </h3>
            {% if dailyEnergy %}
                <h4>Twoja dzienna dawka energii to: {{ dailyEnergy }} kcal</h4>
            {%  else %}
                <h4>Aby wyliczyć swoje zapotrzebowanie energetyczne, uzupełnij swoje wyniki <a href="{{ path('measurements') }}">TUTAJ</a></h4>
            {% endif %}
        {% else %}
            <h4><a href="{{ url('fos_user_registration_register') }}">Zarejestruj się</a>, aby wyliczyć swoje zapotrzebowanie energetyczne,</h4>
        {% endif %}


        <h5>W naszej bazie jest ponad 2 miliony przepisów! Każdy znajdzie coś dla siebie!</h5><br>
        <form method="POST">
            <label>Ile minimalnie kalorii ma mieć Twoje danie?</label>
            <input type="number" id="caloriesMin" name="caloriesMin"/><br><br>
            <label>Ile maksymalnie kalorii ma mieć Twoje danie?</label>
            <input type="number" id="caloriesMax" name="caloriesMax"/><br><br>
            <label>Wpisz JEDEN kluczowy składnik przepisu (po angielsku):</label>
            <input type="text" id="key" name="key" placeholder="np. chicken, chocolate"/><br><br>
            <label for="alcohol">Posiłek może zawierać alkohol?</label>
            <select name="alcohol" id="alcohol">
                <option value="alcohol-free">NIE</option>
                <option value="0">TAK</option>
            </select><br>
            <label for="dairy">Posiłek może zawierać nabiał?</label>
            <select name="dairy" id="dairy">
                <option value="0">TAK</option>
                <option value="dairy-free">NIE</option>
            </select><br>
            <label for="gluten">Posiłek może zawierać gluten?</label>
            <select name="gluten" id="gluten">
                <option value="0">TAK</option>
                <option value="gluten-free">NIE</option>
            </select><br>
            <label for="kosher">Danie koszerne?</label>
            <select name="kosher" id="kosher">
                <option value="0">NIE</option>
                <option value="kosher">TAK</option>
            </select><br>
            <label for="paleo">Danie paleo?</label>
            <select name="paleo" id="paleo">
                <option value="0">NIE</option>
                <option value="paleo">TAK</option>
            </select><br>
            <label for="paleo">Danie wegańskie?</label>
            <select name="vegan" id="vegan">
                <option value="0">NIE</option>
                <option value="vegan">TAK</option>
            </select><br>
            <label for="vegetarian">Danie wegetariańskie?</label>
            <select name="vegetarian" id="vegetarian">
                <option value="0">NIE</option>
                <option value="vegetarian">TAK</option>
            </select><br>
            <label for="noSugar">Posiłek dla diabetyków?</label>
            <select name="noSugar" id="noSugar">
                <option value="0">NIE</option>
                <option value="low-sugar">TAK</option>
            </select><br>
            <input type="submit" id="send" value="Pobierz przepis">
        </form><br><br>

        <div id="loadedRecipe">
        </div>
        <script src="{{ asset('js/diet.js') }}"></script>
    </div>

{% endblock %}